/* Global Properties */
html {
    scroll-behavior: smooth;
}  
body {
    background-image: url("AboutBag.jpg");
    background-size: cover;
    font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */
.m-heading {
    font-family: "Roboto Slab", serif;
}
/* Navigation Section*/
.navigation-link {
    border: 2px solid transparent;
    padding-bottom: 10px;
}
.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #d6d4d1;
    transition: 0.6s ease;
}
.main-container {
    height: 750px;
}
.content{
    text-align: center;
}
#aboutmidbox::before{
    content: "";
    background-color:rgb(236, 233, 182);
    position: absolute;
    top: 0px;
    height: 100%;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

/*Body*/
.header{
    padding-top: 100px;
    Font-size: 100px;
    text-align: center;
}

.paragraph{
    color: white;
    text-align: center;
}

/*Footer*/
footer{
    clear: both;
    position: relative;
    margin-top: 270px;
}