/* Global Properties */
html {
    scroll-behavior: smooth;
}  
body {
    background-image: url('img/contactbg.jpg');
    background-size: cover;
    font-family: "Baloo Tamma 2", cursive;
}
/* Navigation Section*/
.navigation-link {
    border: 2px solid transparent;
    padding-bottom: 10px;
}
.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #d6d4d1;
    transition: 0.6s ease;
}
.btn{
    margin: 15px 151px;
    padding: 2px 2px;
    border: 2px solid black;
    border-radius: 6px;
    width: 98px;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 29, 29);
    color: white;
    box-shadow: 0px 0px 9px 1px brown;
}

.btn:hover{ 
cursor: pointer;
color: burlywood;
}

#contact::before{
    content: "";
    background-color:rgb(34, 33, 33);
    position: absolute;
    top: 0px;
    height: 100%;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.contactbox{
    border: 2px solid black;
    padding: 2px 2px;
    margin: -75px 510px;
    height: 275px;
    box-shadow: -1px 1px 20px #f1eeee;
    text-decoration-style: solid;
}

.contactus{
    padding: 2px 2px;
    margin: 36px 10px;
    text-align: center;
    font-size: 1.2rem;
}

h1{
    margin: 97px 60px;
    padding: 2px 2px;
    text-align: center;
}
.btn2{
    width: 105px;
    text-align: center;
    border: 2px solid rgb(250, 245, 245);
    border-radius: 7px;
    height: 21px;
}
.inputclass{
    border: 2px solid rgb(243, 239, 239);
    border-radius: 20px;
    margin: 2px 14px;
    padding: 2px 2px;
}

.extra{
    padding: 0px 13px;
    margin: 13px;
}
/*Footer*/
footer{
    clear: both;
    position: relative;
    margin-top: 270px;
}